body{
    background-color:#b8b5af;
    /*background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: 	rgb(26, 24, 24);
  }
  li {
    float: left;
    margin: 0;
    text-align: center;
    font-size: 17px;
  }
  
  li a {
    display: block;
    color:#f1c35e;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top:15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  
  li a:hover {
    background-color: black;
    font-size: large;

   
  }
  li a.active{
    background-color: #f1c35e;
    color:rgb(26, 24, 24);
  }


  #main{
    align-items: center;
    background-color: rgb(26, 24, 24);
    width: 550px;
    height: 52px;
    /*padding: 20px;*/
    margin-top: 40px;
  }

#main input[type=text]{
    margin-left: 30px;
    border-style: outset;
    margin-top: 7px;
    float: center;
    padding: 6px;
    font-size: 15px;
    border: 1px solid #ccc;
    height:38px;
}
#search button.submit{
    float: center;
    padding: 6px 10px;
    margin-top:4px;
    height:44px;
    background-color:#f1c35e;
    color: rgb(26, 24, 24);
    font-size: 17px;
    border:rgb(26, 24, 24) ;
    border-style:outset;
    cursor: pointer;
}
#search button.yourloc{
    float: center;
    padding: 6px 10px;
    margin-top:4px;
    height:44px;
    width: 44px;
    background-color:#f1c35e;
    color: rgb(26, 24, 24);
    font-size: 17px;
    border:rgb(26, 24, 24);
    border-style:outset;
    cursor: pointer; 
}
#search{
    padding:0;

}
#map{
    margin-top:30px;
    float:center;
    height: 500px;
    width: 900px;
    border: #ccc;
    border:outset;
}

.footer-distributed{
  background-color: rgb(26, 24, 24);
  height:150px;
  width:100%;
}
#result{
  margin-top:20px;
  padding:0;
}
.mycont{
  float:center;
  margin-left:70px;
}
.services{
  margin:30px auto;
  color: rgb(26, 24, 24);
  letter-spacing: 1px;
}
.line{
  background: rgb(26, 24, 24);
  width:1px;
  height:180px;
}

.my-col{
  height:200px;
  padding: 50px;
  background-color:#f1c35e;
  /*border-style: solid;
  border-width: 1px;
  border-style: outset;
  border-spacing: 50px;*/
  display:block;
  width:70px;
  box-shadow: 10px 12px 0.5rem rgba(0,0,0,0.5);
}
.my-col:hover{
  cursor: pointer;
}

/*.fa{
font-weight: bold;
margin: 50px;

}
.fa:hover{
font-size: x-large;

}*/
